<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list id="routerLink1">
      <a mat-list-item routerLink="/course" router-LinkActive="active current">Courses</a>
      <a mat-list-item routerLink="/students" router-LinkActive="active current">Students</a>
      <a mat-list-item routerLink="/teachers" router-LinkActive="active current">Teachers</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Course management</span>
    </mat-toolbar>
    <div class="container">
   
    <router-outlet></router-outlet>
    
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
